.gallery-container .gallery{
    max-width:400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0,0,0,.1);
    box-sizing: border-box;
}
.gallery img{
    border-radius: 8px;
    transform-origin:center;
    width: 100%;
    transition: transform .5s ease;
}
.gallery:hover img{
    transform: scale(1.1);
}