.banner{
    height: 680px;
    background-image: url('../../../images/banner/banner.jpg');
    background-size: cover;
    background-position: center;
}
.letter-spacing{
    letter-spacing: 5px;
}
.text-gray{
    color:#2a2a2a;
}
.text-color{
    color:#a8a8a8;
    text-align: justify;
    font-family: sans-serif;
}
.text-justify{
    text-align: justify;
}